body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1469px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4870_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1122px;
  height:430px;
}
#u4870 {
  position:absolute;
  left:269px;
  top:146px;
  width:1117px;
  height:425px;
}
#u4871 {
  position:absolute;
  left:2px;
  top:204px;
  width:1113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:95px;
}
#u4872 {
  position:absolute;
  left:714px;
  top:296px;
  width:141px;
  height:94px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u4873 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:53px;
}
#u4874 {
  position:absolute;
  left:722px;
  top:379px;
  width:125px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4875 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u4876 {
  position:absolute;
  left:374px;
  top:656px;
  width:911px;
  height:140px;
}
#u4877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:46px;
}
#u4877 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:45px;
  font-size:16px;
}
#u4878 {
  position:absolute;
  left:2px;
  top:13px;
  width:398px;
  word-wrap:break-word;
}
#u4879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:46px;
}
#u4879 {
  position:absolute;
  left:402px;
  top:0px;
  width:238px;
  height:45px;
  font-size:16px;
  color:#3333FF;
}
#u4880 {
  position:absolute;
  left:2px;
  top:13px;
  width:234px;
  word-wrap:break-word;
}
#u4881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:46px;
}
#u4881 {
  position:absolute;
  left:640px;
  top:0px;
  width:266px;
  height:45px;
  font-size:16px;
  text-decoration:underline;
  color:#339933;
}
#u4882 {
  position:absolute;
  left:2px;
  top:13px;
  width:262px;
  word-wrap:break-word;
}
#u4883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:46px;
}
#u4883 {
  position:absolute;
  left:0px;
  top:45px;
  width:402px;
  height:45px;
  font-size:16px;
}
#u4884 {
  position:absolute;
  left:2px;
  top:13px;
  width:398px;
  word-wrap:break-word;
}
#u4885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:46px;
}
#u4885 {
  position:absolute;
  left:402px;
  top:45px;
  width:238px;
  height:45px;
  font-size:16px;
  color:#3333FF;
}
#u4886 {
  position:absolute;
  left:2px;
  top:13px;
  width:234px;
  word-wrap:break-word;
}
#u4887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:46px;
}
#u4887 {
  position:absolute;
  left:640px;
  top:45px;
  width:266px;
  height:45px;
  font-size:16px;
  text-decoration:underline;
  color:#339933;
}
#u4888 {
  position:absolute;
  left:2px;
  top:13px;
  width:262px;
  word-wrap:break-word;
}
#u4889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:46px;
}
#u4889 {
  position:absolute;
  left:0px;
  top:90px;
  width:402px;
  height:45px;
  font-size:16px;
}
#u4890 {
  position:absolute;
  left:2px;
  top:13px;
  width:398px;
  word-wrap:break-word;
}
#u4891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:46px;
}
#u4891 {
  position:absolute;
  left:402px;
  top:90px;
  width:238px;
  height:45px;
  font-size:16px;
  color:#3333FF;
}
#u4892 {
  position:absolute;
  left:2px;
  top:13px;
  width:234px;
  word-wrap:break-word;
}
#u4893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:46px;
}
#u4893 {
  position:absolute;
  left:640px;
  top:90px;
  width:266px;
  height:45px;
  font-size:16px;
  text-decoration:underline;
  color:#339933;
}
#u4894 {
  position:absolute;
  left:2px;
  top:13px;
  width:262px;
  word-wrap:break-word;
}
#u4895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:61px;
}
#u4896 {
  position:absolute;
  left:180px;
  top:50px;
  width:1290px;
  height:60px;
}
#u4897 {
  position:absolute;
  left:2px;
  top:22px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4898_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:193px;
  height:23px;
}
#u4898 {
  position:absolute;
  left:200px;
  top:73px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u4898_img.selected {
}
#u4898.selected {
}
#u4899 {
  position:absolute;
  left:10px;
  top:-2px;
  width:176px;
  word-wrap:break-word;
}
#u4900 {
  position:absolute;
  left:179px;
  top:50px;
  width:2px;
  height:801px;
  overflow:hidden;
}
#u4900_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:801px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u4900_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:1032px;
}
#u4901 {
  position:absolute;
  left:0px;
  top:49px;
  width:180px;
  height:1031px;
}
#u4902 {
  position:absolute;
  left:2px;
  top:508px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4903 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  overflow:hidden;
}
#u4903_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u4903_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4903_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u4903_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4903_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u4903_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4903_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u4903_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4903_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u4903_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4903_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u4903_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4903_state6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u4903_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4903_state7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u4903_state7_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4904 {
  position:absolute;
  left:0px;
  top:48px;
  width:1367px;
  height:3px;
  overflow:hidden;
}
#u4904_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:3px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u4904_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:49px;
}
#u4905 {
  position:absolute;
  left:18px;
  top:0px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u4905_img.selected {
}
#u4905.selected {
}
#u4906 {
  position:absolute;
  left:0px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u4907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u4908 {
  position:absolute;
  left:10px;
  top:66px;
  width:160px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u4909 {
  position:absolute;
  left:30px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u4910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4910 {
  position:absolute;
  left:18px;
  top:74px;
  width:14px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u4910_img.mouseOver {
}
#u4910.mouseOver {
}
#u4911 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4912 {
  position:absolute;
  left:179px;
  top:109px;
  width:1292px;
  height:2px;
  overflow:hidden;
}
#u4912_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u4912_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:903px;
}
#u4913 {
  position:absolute;
  left:179px;
  top:50px;
  width:1px;
  height:902px;
}
#u4914 {
  position:absolute;
  left:2px;
  top:443px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u4916 {
  position:absolute;
  left:452px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4916_img.mouseOver {
}
#u4916.mouseOver {
}
#u4916_img.selected {
}
#u4916.selected {
}
#u4917 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u4918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u4918 {
  position:absolute;
  left:364px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4918_img.mouseOver {
}
#u4918.mouseOver {
}
#u4918_img.selected {
}
#u4918.selected {
}
#u4919 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u4920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u4920 {
  position:absolute;
  left:277px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4920_img.mouseOver {
}
#u4920.mouseOver {
}
#u4920_img.selected {
}
#u4920.selected {
}
#u4921 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u4922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u4923 {
  position:absolute;
  left:-1px;
  top:122px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u4923_img.mouseOver {
}
#u4923.mouseOver {
}
#u4923_img.selected {
}
#u4923.selected {
}
#u4924 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u4925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u4925 {
  position:absolute;
  left:17px;
  top:137px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4925_img.mouseOver {
}
#u4925.mouseOver {
}
#u4925_img.selected {
}
#u4925.selected {
}
#u4926 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4927 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u4928 {
  position:absolute;
  left:0px;
  top:206px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u4928_img.selected {
}
#u4928.selected {
}
#u4929 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u4930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u4930 {
  position:absolute;
  left:159px;
  top:225px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4931 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u4932 {
  position:absolute;
  left:18px;
  top:221px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4932_img.mouseOver {
}
#u4932.mouseOver {
}
#u4932_img.selected {
}
#u4932.selected {
}
#u4933 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u4934 {
  position:absolute;
  left:0px;
  top:250px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u4934_img.mouseOver {
}
#u4934.mouseOver {
}
#u4934_img.selected {
}
#u4934.selected {
}
#u4935 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u4936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u4936 {
  position:absolute;
  left:0px;
  top:291px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u4936_img.mouseOver {
}
#u4936.mouseOver {
}
#u4936_img.selected {
}
#u4936.selected {
}
#u4937 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u4938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u4938 {
  position:absolute;
  left:160px;
  top:139px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4939 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u4940 {
  position:absolute;
  left:0px;
  top:164px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u4940_img.mouseOver {
}
#u4940.mouseOver {
}
#u4940_img.selected {
}
#u4940.selected {
}
#u4941 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u4942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u4942 {
  position:absolute;
  left:195px;
  top:-1px;
  width:88px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0033CC;
}
#u4942_img.mouseOver {
}
#u4942.mouseOver {
}
#u4942_img.selected {
}
#u4942.selected {
}
#u4943 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u4944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u4945 {
  position:absolute;
  left:0px;
  top:335px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u4945_img.mouseOver {
}
#u4945.mouseOver {
}
#u4945_img.selected {
}
#u4945.selected {
}
#u4946 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u4947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u4947 {
  position:absolute;
  left:159px;
  top:355px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4948 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u4949 {
  position:absolute;
  left:18px;
  top:351px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4949_img.mouseOver {
}
#u4949.mouseOver {
}
#u4949_img.selected {
}
#u4949.selected {
}
#u4950 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u4951 {
  position:absolute;
  left:0px;
  top:380px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u4951_img.mouseOver {
}
#u4951.mouseOver {
}
#u4951_img.selected {
}
#u4951.selected {
}
#u4952 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u4953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u4953 {
  position:absolute;
  left:0px;
  top:506px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u4953_img.mouseOver {
}
#u4953.mouseOver {
}
#u4953_img.selected {
}
#u4953.selected {
}
#u4954 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u4955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u4955 {
  position:absolute;
  left:0px;
  top:421px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u4955_img.mouseOver {
}
#u4955.mouseOver {
}
#u4955_img.selected {
}
#u4955.selected {
}
#u4956 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u4957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u4957 {
  position:absolute;
  left:0px;
  top:463px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u4957_img.mouseOver {
}
#u4957.mouseOver {
}
#u4957_img.selected {
}
#u4957.selected {
}
#u4958 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u4959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u4960 {
  position:absolute;
  left:0px;
  top:549px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u4960_img.mouseOver {
}
#u4960.mouseOver {
}
#u4960_img.selected {
}
#u4960.selected {
}
#u4961 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u4962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u4962 {
  position:absolute;
  left:159px;
  top:568px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4963 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u4964 {
  position:absolute;
  left:18px;
  top:564px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4964_img.mouseOver {
}
#u4964.mouseOver {
}
#u4964_img.selected {
}
#u4964.selected {
}
#u4965 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u4966 {
  position:absolute;
  left:0px;
  top:593px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u4966_img.mouseOver {
}
#u4966.mouseOver {
}
#u4966_img.selected {
}
#u4966.selected {
}
#u4967 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
